/* custom slider */
.slick-track {
  display: flex !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  opacity: 1;
  position: relative;
  bottom: 60px;
  z-index: 10;
}

.slick-slides-gap {
  .slick-list {margin: 0 -5px;}
  .slick-slide>div {padding: 0 5px;}
  @media (max-width: 1024px) {
    .slick-list {margin: 0 -4px;}
    .slick-slide>div {padding: 0 4px;}
  }
}

.rc-time-picker {
  &-input {
    height: 56px !important;
    border-radius: 12px !important;
    background-color: transparent;
    border: 1px solid #B9C0DE !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    width: 100% !important;
    padding-left: 15px !important;
  }

  &-panel {
    //top: 360px !important;
    //left: 808px !important;

    &-inner {
      background-color: #40444F !important;
    }

    &-input {
      background-color: #40444F !important;
      color: #fff !important;
    }

    &-select {
      ul > li {
        color: #fff !important;
        &:hover {
          color: #000 !important;
        }
        &.rc-time-picker-panel-select-option-selected {
          color: #000 !important;
        }
      }
    }
  }
}

