/* custom slider */
.slick-track {
  display: flex !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  opacity: 1;
  position: relative;
  bottom: 60px;
  z-index: 10;
}

.slick-slides-gap {
  .slick-list {margin: 0 -5px;}
  .slick-slide>div {padding: 0 5px;}
  @media (max-width: 1024px) {
    .slick-list {margin: 0 -4px;}
    .slick-slide>div {padding: 0 4px;}
  }
}

.rc-time-picker {
  &-input {
    height: 56px !important;
    border-radius: 12px !important;
    background-color: transparent;
    border: 1px solid #B9C0DE !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    width: 100% !important;
    padding-left: 15px !important;
  }

  &-panel {
    //top: 360px !important;
    //left: 808px !important;

    &-inner {
      background-color: #40444F !important;
    }

    &-input {
      background-color: #40444F !important;
      color: #fff !important;
    }

    &-select {
      ul > li {
        color: #fff !important;
        &:hover {
          color: #000 !important;
        }
        &.rc-time-picker-panel-select-option-selected {
          color: #000 !important;
        }
      }
    }
  }
}

.custom-datepicker {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid rgba(185, 192, 222, 0.5);
  padding: 20px 20px 6px 130px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  color: transparent;
}

.react-datepicker {
  &-popper {
  z-index: 100 !important;
  }
  &-wrapper {
   width: 100% !important;
  }
  width: 100%;
  background-color: #40444F !important;
  border-radius: 10px !important;
  border: none !important;
  color: #fff !important;
  padding: 5px 11px !important;
  &__triangle {
    display: none !important;
  }
  &__header {
    background-color: #40444F !important;
    border: none !important;
  }
  &__month {
    margin-top: 20px !important;
  }
  &__current-month {
    color: #fff !important;
    position: absolute;
    left: 10px !important;
  }
  &__day-names {
    display: none !important;
  }
  &__navigation {
    top: 14px !important;
  }
  &__navigation--previous {
    left: 202px !important;
  }
  &__navigation--next {
    right: 10px !important;
  }
  &__navigation-icon {
    &::before {
      border-color: #fff !important;
    }
  }
  &__day {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #fff !important;
    width: 30px !important;
    height: 30px !important;
    &--range-start, &--range-end {
      border-radius: 8px !important;
      color: #40444F !important;
      background-color: #9A64E0 !important;
      border: 2px solid #9A64E0 !important;
    }
    &--in-selecting-range {
      border-radius: 8px !important;
      color: #40444F !important;
      background-color: #9A64E0 !important;
      border: 2px solid transparent;
    }
    &--disabled {
      color: rgba(255, 255, 255, 0.2) !important;
    }
  }
}

