body {
  background-color: #2A2E39;
}

input, button, select {
  &:focus {
    outline: none !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E9E9E9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #36393E;
  border-radius: 5px;
}

.home-line {
  position: absolute;
  top: 160px;
  left: 50%;

  @media (max-width: 1024px) {
  left: 10%;
  top: 250px;
  }
  @media (max-width: 640px) {
  left: 0;
  }
}

.market-place-grid {
  display: grid;
  grid-template-columns: 248px 1fr;
  gap: 32px;

  @media (max-width: 1380px) {
   grid-template-columns: 200px 1fr;
   gap: 16px;
  }
  @media (max-width: 1024px) {
   grid-template-columns: 1fr;
  }
}

.file-upload-btn-hidden::-webkit-file-upload-button {
  visibility: hidden;
}
